<div id="templatemo_main">
    @{Html.RenderAction("Left", "WebTemplate");}

    <div id="content" class="float_r">
        <div id="slider-wrapper">
            <div id="slider" class="nivoSlider">

                <asp:Repeater runat="server" ID="rptAd">
                    <itemtemplate>
                        <a href="<%# Eval(" adverturl")=adverturl") %=%>
                            " target="_blank">
                            <img src="Admin/Upfile/<%# Eval(" advertpic")=advertpic") %=% />" width="680px" height="300px" alt="<%# Eval("AdvertName") %>" title="<%# Eval("AdvertName") %>" />
                        </a>
                    </itemtemplate>
                </asp:Repeater>
            </div>

            <!--
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>
            -->
        </div>

        @Scripts.Render("~/Scripts/js/jquery-1.4.3.min.js")
        @Scripts.Render("~/Scripts/js/jquery.nivo.slider.pack.js")
        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider();
            });
        </script>
        <h1>新品上市</h1>
        <asp:Repeater ID="rptProductHot" runat="server">
            <itemtemplate>
                <div class="product_box">
                    <h3 style="text-align: center"><%# publicHandle.GetSubstring(Eval("ProductName").ToString(), 16, "...")%></h3>
                    <a href='Productdetail.aspx?id=<%#Eval("Id") %>'>
                        <img src="Admin/Upfile/<%#Eval(" productpic")=productpic") %=% />" alt="Shoes 1" style="width: 200px; height: 150px;" />
                    </a>
                    <p class="product_price"><s>市场价：￥ <%#Eval("MarketPrice")%></s></p>
                    <p class="product_price">本网站价：￥ <%#Eval("WebsitePrice")%></p>
                    <a href='Shoppingcart.aspx?Productid=<%#Eval("Id") %>&num=1' class="addtocart"></a>
                    <a href='Productdetail.aspx?id=<%#Eval("Id") %>' class="detail"></a>
                </div>
            </itemtemplate>
        </asp:Repeater>
        <div class="cleaner"></div>

    </div>
    <div class="cleaner"></div>

</div>



