
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Down</title>
    <link rel="stylesheet" type="text/css" href="css/down.css" />
</head>
<body topmargin="0px" bottommargin="0px" leftmargin="0px" rightmargin="0px">
    <div class="down1">
        <center><span>推荐使用：IE7/IE8&emsp;分辨率：1280*768&emsp;版权所有：宁波金燕网络有限公司</span></center>
    </div>
</body>
</html>
