
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<frameset rows="105px,*,23px" frameborder="no" border="0" framespacing="0">
    <frame src="Top" scrolling="No" frameborder="0" marginheight="0" marginwidth="0">
        <frameset cols="209px,*" border="0">
            <frame src="Left" noresize="noresize" frameborder="0" marginheight="0" marginwidth="0">
            <frame name="MainFrame" src=@Url.Content("Admin/Product_Manage/Product_Manage")" noresize="noresize" frameborder="0" marginheight="0" marginwidth="0">
        </frameset>
    <frame src="Down" scrolling="No" frameborder="0" marginheight="0" marginwidth="0">
    <frame src="UntitledFrame-1">
</frameset>
<body>
    <div> 
    </div>
</body>
</html>
