
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Left</title>
</head>
<body topmargin="0px" bottommargin="0px" leftmargin="0px" rightmargin="0px">
    <div class="left1">
        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">商品管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>

        <%--<div class="left3">
            <a href="#">系统配置管理</a>
        </div>--%>


        <div class="left4">
            <a href="Product_Manage/Product_Manage.aspx" target="MainFrame">商品管理</a>
        </div>
        <div class="left4">
            <a href="Product_Manage/ProductType_Manage.aspx" target="MainFrame">商品类型管理</a>
        </div>

        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">品牌管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>
        <div class="left4">
            <a href="Brand_Manage/Brand_Manage.aspx" target="MainFrame">品牌管理</a>
        </div>

        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">资讯管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>
        <div class="left4">
            <a href="Information_Manage/Information_Manage.aspx" target="MainFrame">资讯管理</a>
        </div>
        <div class="left4">
            <a href="Information_Manage/InformationType_Manage.aspx" target="MainFrame">资讯类型管理</a>
        </div>

        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">广告管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>
        <div class="left4">
            <a href="Advert_Manage/Advert_Manage.aspx" target="MainFrame">广告管理</a>
        </div>
        <div class="left4">
            <a href="Advert_Manage/AdvertType_Manage.aspx" target="MainFrame">广告类型管理</a>
        </div>

        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">会员管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>
        <div class="left4">
            <a href="Member_Manage/MemberRank_Manage.aspx" target="MainFrame">会员等级管理</a>
        </div>
        <div class="left4">
            <a href="Member_Manage/Member_Manage.aspx" target="MainFrame">会员管理</a>
        </div>
        <div class="left4">
            <a href="Review_Manage/Review_Manage.aspx" target="MainFrame">评论管理</a>
        </div>
        <div class="left4">
            <a href="Collection_Manage/Collection_Manage.aspx" target="MainFrame">收藏管理</a>
        </div>

        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">用户管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>
        <div class="left4">
            <a href="UserInfo_Manage/UserInfo_Manage.aspx" target="MainFrame">用户管理</a>
        </div>

        <div class="left2">
            <img src="images/other/sanjiao1.jpg" />&ensp;
            <a href="#" style=" font-weight:bold">订单管理</a>
            <a href="#" style="float:right; line-height:32px; margin-right:10px"></a>
        </div>
        <div class="left4">
            <a href="OrderForm_Manage/OrderForm_Manage.aspx" target="MainFrame">订单管理</a>
        </div>
    </div>
</body>
</html>
