<div id="templatemo_footer">
    <p>
        <a href="#">主页</a> | <a href="#">产品</a> | <a href="#">资讯</a> | <a href="#">FAQs</a> | <a href="#">Checkout</a> | <a href="#">Contact Us</a>
    </p>

    Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.putaojiayuan.com/moban/"></a>
</div> <!-- END of templatemo_footer -->