

<meta name="keywords" content="网上鞋店，数码手机，护肤品，..." />
<meta name="description" content="BtoC购物网站 " />

<link href="../css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/ddsmoothmenu.css" />

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/ddsmoothmenu.js">
</script>

<script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "top_nav", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

</script>


<div id="templatemo_header">
    <div id="site_title"><h1><a href="../Index.aspx"><!--网上购物 --></a></h1></div>
    <div id="header_right">
        <p>
            <a href="MemberInfo.aspx">我的账户</a> | <a href="Collection.aspx">我的收藏</a> | <a href="../Shoppingcart.aspx">我的购物车</a> | <a href="Review.aspx">我的评论</a> | 您好：<%=  Session["MemberName"] %> <asp:LinkButton ID="lbnTui" runat="server" onclick="lbnTuo_Click">安全退出</asp:LinkButton>
        </p>
    </div>
    <div class="cleaner"></div>
</div> <!-- END of templatemo_header -->

<div id="templatemo_menubar">
    <div id="top_nav" class="ddsmoothmenu">
        <ul>
            <li><a href="../Index.aspx" class="selected">主页</a></li>
            <asp:Repeater ID="rptProductType" runat="server" OnItemDataBound="rptProductType_ItemDataBound">
                <itemtemplate>
                    <li>
                        <a href='../Products.aspx?ProductTypeId=<%# Eval("Id")%>'><%#Eval("TypeName")%></a>
                        <ul>
                            <asp:Repeater ID="rptProductChildType" runat="server">
                                <itemtemplate>
                                    <li><a href='../Products.aspx?ProductTypeId=<%#  Eval("Id") %>'><%#Eval("TypeName")%></a></li>
                                </itemtemplate>
                            </asp:Repeater>
                        </ul>
                    </li>
                </itemtemplate>
            </asp:Repeater>

            <asp:Repeater ID="rptInformationType" runat="server" OnItemDataBound="rptInformationType_ItemDataBound">
                <itemtemplate>
                    <li>
                        <a href='../Information.aspx?InformationTypeId=<%#  Eval("Id") %>'><%#Eval("TypeName")%></a>
                        <ul>
                            <asp:Repeater ID="rptInformationChildType" runat="server">
                                <itemtemplate>
                                    <li><a href='../Information.aspx?InformationTypeId=<%#  Eval("Id") %>'><%#Eval("TypeName")%></a></li>
                                </itemtemplate>
                            </asp:Repeater>
                        </ul>
                    </li>
                </itemtemplate>
            </asp:Repeater>
        </ul>
        <br style="clear: left" />
    </div> <!-- end of ddsmoothmenu -->

    <div id="templatemo_search">

        <!--  <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />-->
        <asp:TextBox runat="server" ID="txtKeyword" CssClass="txt_field"></asp:TextBox>
        <asp:Button ID="btnSearch" runat="server" Text="" CssClass="sub_btn" OnClick="btnSearch_OnClick" />
        <!-- <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />-->

    </div>
</div> <!-- END of templatemo_menubar -->