

<script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "top_nav", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })
    var timeout = 500;
    var closetimer = 0;
    var ddmenuitem = 0;
    function mouseout(targetid) {
        var target = document.getElementById(targetid);
        if (target.style.display == "block") {
            target.style.display = "none";
            target.style.visibility = 'hidden'

        } else {
            target.style.display = "block";
            target.style.visibility = 'visible'
        }

    }

    function mclosetime(targetid) {
        var target = document.getElementById(targetid);
        target.style.display = "none";
        target.style.visibility = 'hidden'
    }
</script>




<div id="templatemo_header">
    <div id="site_title"><h1><a href="Index.aspx"><!--网上购物 --></a></h1></div>
    <div id="header_right">
        <p>
            @if (Request.IsAuthenticated)
            {
                  <asp:Panel runat="server" ID="pnlOutLogin" Visible="false">
                <a href="Member/MemberInfo.aspx">我的账户</a> | 
                      <a href="Member/Collection.aspx">我的收藏</a> | 
                      <a href="Shoppingcart.aspx">我的购物车</a> | 
                      <a href="Member/Review.aspx">我的评论</a> | 您好：<%=  Session["MemberName"] %> 
                      <a href="javascript:document.getElementById('logoutForm').submit()">安全退出</a>
                      
            </asp:Panel>
            }
            else
            {
              <asp:Panel runat="server" ID="pnlLogin">
                <a href="Member/MemberInfo.aspx">我的账户</a> |
                   <a href="Member/Collection.aspx">我的收藏</a> | 
                  <a href="Shoppingcart.aspx">我的购物车</a> |
                   <a href="Member/Review.aspx">我的评论</a> | 
                  <a href="Login.aspx">登录</a> | <a href="Registration.aspx">注册</a>
            </asp:Panel>
            }
         

            
        </p>
    </div>
    <div class="cleaner"></div>
</div> <!-- END of templatemo_header -->

<div id="templatemo_menubar">

    <div id="top_nav" class="ddsmoothmenu">
        <nav>
            <ul>
                <li><a href="Index.aspx" class="selected">主页</a></li>
                @if (ViewData["ProductTypeList"] != null)
                {
                    foreach (var ProductTypeList in (List<JY.Model.ProductType>)ViewData["ProductTypeList"])
                    {
                        <li>
                            <a onmouseover=mouseout('showtext+'+@ProductTypeList.ID) onmouseout="mclosetime('showtext+'+@ProductTypeList.ID)" href=' products.aspx?producttypeid=@ProductTypeList.ID'>@ProductTypeList.TypeName</a>
                            <ul id="showtext+@ProductTypeList.ID" onmouseout=mouseout('showtext+'+@ProductTypeList.ID)>
                                @foreach (var rptProductType in MvcBtc.Controllers.WebTemplateController.rptProductType(ProductTypeList.ID))
                                {
                                    <li><a id="showtext" href='Products.aspx?ProductTypeId=@rptProductType.ID'>@rptProductType.TypeName</a></li>
                                }
                            </ul>
                        </li>
                    }
                }
                @if (ViewData["InformationTypeList"] != null)
                {
                    foreach (var InformationTypeList in (ViewData["InformationTypeList"] as List<JY.Model.InformationType>)) 
                    {
                         <li>
                             <a onmouseover=mouseout('news+'+@InformationTypeList.ID) onmouseout="mclosetime('news+'+@InformationTypeList.ID)" href='Information.aspx?InformationTypeId=@InformationTypeList.ID'>@InformationTypeList.TypeName</a>
                             <ul id="news+@InformationTypeList.ID" onmouseout=mouseout('news+'+@InformationTypeList.ID)>
                                 @foreach (var rptInformationType in MvcBtc.Controllers.WebTemplateController.rptInformationType(InformationTypeList.ID.ToString()))
                                 {
                                     <li><a id="news" href='Information.aspx?InformationTypeId=@rptInformationType.ID'>@rptInformationType.TypeName</a></li>
                                 }
                             </ul>
                         </li>
                    }
                }
            </ul>

        </nav>
        <br style="clear: left" />
    </div> <!-- end of ddsmoothmenu -->

    <div id="templatemo_search">

        <!--  <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />-->
        <asp:TextBox runat="server" ID="txtKeyword" CssClass="txt_field"></asp:TextBox>
        <asp:Button ID="btnSearch" runat="server" Text="" CssClass="sub_btn" OnClick="btnSearch_OnClick" />
        <!-- <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />-->

    </div>
</div> <!-- END of templatemo_menubar -->